{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list card_list %}

{% block extrastyle %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/select.css" %}">
{% endblock %}

{% block title %}About App
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content_title %}
<h1>About</h1>{% endblock %}

{% block content %}
  <div id="content-main">
      <div class="card">
          <div class="card-body">
            
            <h4>App Routes</h4>
            <p><a href="https://cyfront.vercel.app">https://cyfront.vercel.app</a> holds the User Side . <br>
              <a href="{{request.scheme}}://{{request.get_host}}/admin">{{request.scheme}}://{{request.get_host}}</a> holds the Admin/Company Side</p>
            <hr>
            <h4>App Permissions</h4>
            <img src="{% static 'other/permissions.jpeg' %}" alt="Permissions">
            <table class="w-50 table tablesorter d-none">
              <thead>
                <tr>
                  <th>Actions</th>
                  <th>Super Admin</th>
                  <th>Admin</th>
                  <th>Company</th>
                  <th>Company Staff</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Add User</td>
                  <td><img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"></td>  
                  <td><img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"></td>  
                  <td><img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"></td>  
                  <td><img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"></td>  
                </tr>
                {% for perm in request.user.get_all_permissions %}
                <tr>
                  <td>{{perm.name}} </td>
                  <td>{{perm.codename}}</td>  
                  <td><img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"></td>  
                  <td><img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"></td>  
                  <td>{% if perms.change_user %}yes{%endif%}</td>  
                </tr>
                {% endfor %}

              </tbody>
            </table>
            <p class="mt-2">Super Admin > Admin > Company > Company Staff</p>
            <hr>
            <h4 id="technologies">App Technologies</h4>
            <img height="50" width="50" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAg
            PHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5v
            bmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0c
            mFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K" class="mr-2" alt="React Logo">
            
            <img height="50" width="50" src="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png" class="mr-2" alt="Django Logo">
            <img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" height="50" width="50" alt="">
            <hr>
            <!-- <h4>Backup</h4>
            <p><a href="createbackup">Create Backup</a> 
              
            </p> -->
            <hr>
          </div>
      </div>
  </div>
{% endblock %}
