

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://cyber3ra.com" class="nav-link">
                  Cyber3ra
              </a>
            </li>
          </ul>
          <div class="copyright">
            <!-- Copyrights  -->
            <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://cyber3ra.com">Cyber3ra</a> 
            &copy; 2021
            <!-- - coded by <a target="_blank" rel="noopener noreferrer" href="https://techoxy.in">Techoxy</a> -->
          </div>
        </div>
      </footer>
      
