{% load i18n static %}
<div class="related-widget-wrapper bg-error">
    {{ rendered_widget }}
    {% block links %}
        {% spaceless %}
        {% if not is_hidden %}
        {% if can_change_related %}
        <a class="related-widget-wrapper-link change-related btn btn-sm btn-success" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktranslate %}Change selected {{ model }}{% endblocktranslate %}">
            <!-- <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="{% translate 'Change' %}"> -->
            <i data-feather="edit-2"></i>
        </a>
        {% endif %}
        {% if can_add_related %}
        <a class="related-widget-wrapper-link add-related btn btn-sm btn-warning" id="add_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktranslate %}Add another {{ model }}{% endblocktranslate %}">
            <!-- <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% translate 'Add' %}"> -->
            <i data-feather="plus"></i>
        </a>
        {% endif %}
        {% if can_delete_related %}
        <a class="related-widget-wrapper-link delete-related btn btn-sm btn-error" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktranslate %}Delete selected {{ model }}{% endblocktranslate %}">
            <!-- <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="{% translate 'Delete' %}"> -->
            <i data-feather="trash-2"></i>
        </a>
        {% endif %}
        {% endif %}
        {% endspaceless %}
    {% endblock %}
</div>
